<div class="container-fluid">
    <div class="bg-gradient-primary">
        <center>
            <img src="./img/ysc_logo.svg">

        </center>
        <br>
        <div width="50%" id="btn1">
            Hi
        </div>
        <div width="50%" id="btn1">
            Bye
        </div>
    </div>

</div>